main {
  --margin-top: var(--space-800);
  --margin-inline: 160px;
  --main-gap: var(space-600);

  margin-top: var(--margin-top);
  margin-inline: var(--margin-inline);
  gap: var(--main-gap);
}

#hero {
  --hero-gap: var(--space-300);
  display: flex;
  flex-direction: column;
  gap: var(--hero-gap);
  margin-bottom: var(--space-600);
  & h1 {
    max-width: 20ch;
  }
  & p {
    max-width: 60ch;
  }
}

@media (max-width: 60rem) {
  main {
    --margin-inline: 44px;
  }
  #hero {
    h1 {
      max-width: 15ch;
    }
    p {
      max-width: 48ch;
    }
  }
}
@media (max-width: 30rem) {
  main {
    --margin-top: var(--space-600);
    --margin-inline: var(--space-100);
  }
  #hero {
    h1 {
      max-width: 15ch;
    }
    p {
      max-width: none;
    }
  }
}

#call-to-action {
  padding-block: 200px;
  .container {
    height: 600px;
    border-radius: 12px;
    background-color: var(--clr-slate);
    background-image: url(../../assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: top center;

    display: flex;
    flex-direction: row;
    gap: var(--space-200);

    .right-container,
    .left-container {
      width: 50%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .cta-img {
      position: absolute;
      top: -121px;
      width: 296px;
      height: 626px;
    }

    .cta-card {
      position: absolute;
      bottom: -121px;
      background-color: var(--clr-orange);
      padding: var(--space-500);
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      margin-right: var(--space-600);
      & h2 {
        margin-bottom: var(--space-150);
      }
      p.texts {
        margin-bottom: var(--space-300);
      }
      .amount {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: var(--space-400);
        gap: 1rem;
      }

      .cta-buttons {
        display: flex;
        flex-direction: column;
        gap: var(--space-50);
      }
    }
  }
}

@media (max-width: 60rem) {
  #call-to-action {
    .container {
      gap: 0;
      background-position: left top;

      .cta-img {
        width: 270px;
        height: 556px;
      }
      .cta-card {
        left: -64px;
        padding: var(--space-400);
      }
    }
  }
}
@media (max-width: 30rem) {
  main {
    margin-inline: 0;
  }
  #hero {
    margin-inline: var(--space-100);
  }
  #call-to-action {
    padding-top: 110px;
    padding-bottom: 0;

    .container {
      height: max-content;
      padding-inline: 0;
      flex-direction: column;
      gap: var(--space-200);
      background-position: top center;
      border-radius: 0;

      .right-container,
      .left-container {
        width: 100%;
      }
      .cta-img {
        position: relative;
        top: -110px;
        width: 208px;
        height: 430px;
      }
      .cta-card {
        position: relative;
        margin-right: 0;
        border-radius: 0;
        top: 0;
        left: 0;
        bottom: 0;
        padding: var(--space-400);
        padding-bottom: 111px;
      }
    }
  }
}
