footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  --m-top: 64px;
  --m-bottom: var(--space-700);
  --inline: 160px;

  margin-top: var(--m-top);
  margin-bottom: var(--m-bottom);
  margin-inline: var(--inline);

  .footer-texts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--space-800);
    & p {
      color: var(--clr-slate);
    }
  }
}

@media (max-width: 60rem) {
  footer {
    --inline: var(--space-300);
    .footer-texts {
      flex-direction: column;
      gap: 2rem;
    }
  }
}

@media (max-width: 30rem) {
  footer {
    --inline: var(--space-100);
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
}
